@import "../base/_mixins";
.login-form-wrapper {
  background-image: url("../images/bg.jpeg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  & .description,
  #ajax-wrapper,
  #edit-contact,
  .password-strength,
  .js-password-confirm-message,
  .field--type-image {
    display: none;
  }

  & > div {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100vh;
    background: linear-gradient(-206.56505deg, #000, transparent) no-repeat;
  }
  & #block-signinpage {
    color: white;
    z-index: 11;
    grid-column: 2 / span 4;
    grid-row: 2;
    align-self: center;
    & h1 {
      font-size: 58px;
      padding: 8px 5px;
    }
    & h5 {
      font-size: 25px;
      line-height: 30px;
      padding: 8px 5px;
    }
    & p {
      border-top: 2px solid #fff;
      padding-top: 32px;
      & a {
        color: white;
        text-decoration: revert;
      }
    }
  }
  & .user-login-form,
  .user-register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 21;
    grid-row: 2;
    grid-column: 7 / span 5;
    background-color: white;

    border-radius: 8px;
  }
  & .user-login-form {
    & .form-item {
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      position: relative;
      & input {
        padding: 10px;
        border: 1px solid #d0d0d0;
        border-radius: 4px;
        width: 100%;
        line-height: 24px;
        position: relative;
      }
      & label {
        color: #404040;
        padding: 5px;
        font-size: 18px;
        font-weight: 600;
      }
    }
    & .form-actions {
      display: flex;
      justify-content: center;
      & input {
        width: 110px;
        height: 40px;
        margin-top: 10px;
        padding: 10px;
        border: transparent;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        background-color: black;
        color: white;
      }
    }
    & .forgot-pass {
      color: #404040;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      order: 4;
      margin-top: 30px;
      text-decoration: underline;
    }
  }
  & #block-loginpagefooter {
    grid-row: 3;
    grid-column: 1 / span 12;
    align-self: end;

    font-size: 14px;
    color: white;
    padding: 20px;
    z-index: 1;
  }
  & #block-reutersicon {
    z-index: 11;
    width: 200px;
    height: 29px;
    color: white !important;
    padding-left: 25px;
    padding-top: 25px;
    & svg path:nth-child(2) {
      fill: white;
    }
  }
}

.login-form-wrapper #block-registerpagelbock {
  color: white;
  z-index: 11;
  grid-column: 2 / span 4;
  grid-row: 2;
  align-self: center;
  & h1 {
    font-size: 58px;
  }
  & h2,
  p {
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  & .sign-in-link {
    border-top: 2px solid #fff;
    padding-top: 32px;
  }
  & p a {
    color: #fff;
    font-weight: bold;
    text-decoration: revert;
  }
}

.login-form-wrapper .user-register-form {
  justify-content: center;
  margin-top: 105px;
  box-sizing: border-box;
  padding: 40px 32px;
  border-radius: 16px;
  & > div {
    padding: 10px 8px;
  }
  & #edit-account div {
    padding: 10px 0px;
    position: relative;
  }
  & input,
  select {
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    width: 100%;
    line-height: 24px;
    background-color: transparent;
  }
  & #edit-submit {
    width: 120px;
    background-color: black;
    color: #fff;
    margin: 0 auto;
    font-weight: 600;
    border-radius: 8px;
  }
  & #edit-pass {
    width: 100%;
  }
  & .form-actions {
    display: flex;
  }
  & label {
    color: #404040;
    padding: 8px 5px;
    font-size: 16px;
    font-weight: 600;
  }
}

.eye-close,
.eye-open {
  position: absolute;
  margin-top: 0;
  top: 46px;
  right: 25px;
}

.login-form-wrapper input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
#edit-pass:focus-visible {
  border-color: red;
  outline: none;
}

.user-register-form .js-form-type-checkbox {
  display: flex;
  align-items: center;
  & input {
    min-width: 24px;
    width: 24px;
    min-height: 24px;
  }
  & label {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 10px;
    & a {
      color: #404040;
      font-weight: 600;
      text-decoration: revert;
    }
  }
}

.js-form-item-field-test-value {
  padding-top: 20px;
  border-top: 1px solid grey;
}

@include break(lg) {
  .login-form-wrapper {
    & > div {
      grid-template-columns: repeat(4, 1fr);
      padding-left: 4.26667vw;
      padding-right: 4.26667vw;
      grid-row-gap: 35px;
    }
    & #block-reutersicon {
      padding-left: 0px;
      padding-bottom: 40px;
    }
    & #block-signinpage,
    .user-login-form,
    .user-register-form {
      grid-column: span 4;
      width: 100%;
      margin-top: 0;
    }
    & .user-login-form {
      padding: 24px;
      & .form-item {
        width: 100%;
      }
    }
    & #block-signinpage,
    #block-registerpagelbock {
      grid-column: span 4;
      grid-row: 2;
    }
    & .user-login-form,
    .user-register-form {
      grid-row: 3;
    }
    & #block-loginpagefooter {
      grid-row: 4;
      padding: 10px 0 30px 0;
    }
  }
}
