$breakpoints: (
  sm: 576px,
  md: 768px,
  nav: 873px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin break($size) {
  @media (max-width: map-get($breakpoints,$size)) {
    @content;
  }
}

@mixin break2($size) {
  @media (min-width: map-get($breakpoints,$size)) {
    @content;
  }
}
