.category {
  padding: 2.22vw 0.22222vw 2.22vw 2.22222vw;
  & .news-card .views-col {
    position: relative;
    min-height: 370px;
    min-width: 299px;
    max-width: 300px;
    box-sizing: border-box;
    margin-right: 35px;
    padding-bottom: 24px;
    box-shadow: 0 1px 16px 10px rgb(64 64 64 / 8%);
    border-radius: 16px;
    color: #404040;
    & img {
      width: 100%;
      min-height: 153px;

      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    & div:not(:first-child) {
      padding: 12px 20px;
    }
    & .views-field-title {
      margin-bottom: 25px;
      & span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
      }
    }
    & .views-field-title a {
      line-height: 1.33;
      font-weight: 600;
      color: #404040;
    }
    & .views-field-title a:hover {
      text-decoration: revert;
    }
    & .views-field-term-node-tid a {
      color: #404040;
      font-size: 14px;
    }
    & .views-field-created {
      position: absolute;
      bottom: 25px;
    }
  }
  & .views-view-grid .col-4 {
    margin-right: 0;
  }
}

.category h2 {
  color: #fa6400;
  padding: 28px 0px 28px 8px;
}
